bin/
traditional_wg.conf
.DS_Store
.modcache/
.cache/
wantastic.conf
tmp/wantastic_install/wantasticd.tar.gz
vendor/
gobuild/
.gocache/
.gotmp/
tmp/
node_modules/
!cmd/wantasticd/tray.go
cmd/puppeteer
hosts.txt
puppeteer
test_*.go
wantasticd.exe
wantasticd-linux
wailsjs/
build/

./CLAUDE.md